/**
 * The following styles get applied inside the editor only.
 */

.slider-block {
  &__gallery {
	display: flex;
	flex-direction: row;
	&-item {
	  img{
		max-width: 300px;
		height: auto;
	  }
	}
  }
}
