/**
 * The following styles get applied inside the editor only.
 */

.slider-block {
  .swiper {
    .slider-block__gallery {
      display: flex;
      flex-direction: row;
      &-item {
        img {
          max-width: 300px;
          height: auto;
        }
      }
    }
  }
}
