/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.slider-block {
  &__gallery {
	display: flex;
	flex-direction: row;
	&-item {
	  img{
		max-width: 300px;
		height: auto;
	  }
	}
  }
}
